* {
  position: relative;
  box-sizing: border-box;
}

.iframely-embed {
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background: white;
}

.ig {
  top: -150px;
  right: -600px;
}

#app {
  z-index: 100;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  background: #0815589f;
  justify-content: center;

  &:hover {
    opacity: 1;
  }
}

body {
  display: grid;
  padding: 3vmin;
  background-image: url('bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  align-items: center;
}

@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");

.title {
  padding-left: 1em;
  grid-column: 1 / -1;
  grid-row: 1;
  font-family: "Prata", serif;
  font-size: 8vw;
  width: 100%;
  z-index: 2;

  > .title-inner {
    display: inline-block;
  }
}

@keyframes text-clip {
  from {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes outer-left {
  from {
    transform: translateX(50%);
  }
  to {
    transform: none;
  }
}

@keyframes inner-left {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: none;
  }
}

.cafe,
.mozart {
  bottom: -200px;
  animation: outer-left 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.title-inner {
  display: inline-block;
  animation: inner-left 1s 1s ease both;
}

.cafe-inner {
  display: inline-block;
  color: black;
  animation: inner-left 1s 1s ease both, text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
  -webkit-text-stroke: 2px white;
}

.mozart-inner {
  animation: text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
  color: red;
  -webkit-text-stroke: 2px white;
}

.image {
  grid-row: 1;
  grid-column: 2;
  margin-left: -2rem;
  opacity: 1.5;
  animation: image-in 1s cubic-bezier(0.5, 0, 0.1, 1) 2s backwards;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

@keyframes image-in {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

body:active * {
  animation: none !important;
}
