<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Keyword Extraction Tool</title>
  <link rel="icon" href="../static/logo1.png">
  <link rel="stylesheet" href="../static/style.css">
  <style>
    button.back {
      background-color: rgba(207, 224, 230, 0.733);
      font-family: Georgia, serif;
      color: #6014da;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
    }
    
    button.back:hover {
      background-color: rgba(207, 224, 230, 0.9);
    }
  </style>
</head>
<body>
  <div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <a href="/">Home</a>
    <a href="/services">Services</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
  </div>
  
  <div id="main">
    <button class="openbtn" onclick="openNav()">☰</button>  
    <button class="back" onclick="goBack()">Back</button>
  </div>
  <center>
    <div class="f"><h1 class="keyword">
      <div class="ig"> <img src="../static/logo1.png" alt="logo" width="80" height="80" style="clip-path: circle();"></div>
       Keyword<span class="extraction">Extraction</span>
   </h1></div>
<h2>"It is useful for your studies"</h2>
 <br><br>
    <div class="container">
      <div class="card input-wrapper">
        <div class="text-area">
          {% if error %}
            <p style="color:red">{{ error }}</p>
          {% endif %}
          <form action="/extract" method="post" enctype="multipart/form-data">
            <textarea name="text" id="textContent" rows="10" cols="50" placeholder="Enter your text..."></textarea>
            <br><br>
            <label for="fileInput">Upload File:</label>
            <input type="file" id="fileInput" name="file" accept=".txt" onchange="uploadFile(event)">
            <br><br>
            <input type="submit" value="Extract Keywords">
          </form>
          {% if text %}
        </div>
      </div>
    </div>
    <button><a href="highlight.html">High</a></button>
    <br>
    <img src="{{ plot_path }}" alt="">
    {% endif %}
  </center>
  <br><br>
  <script src="/static/script.js"></script>
  <script>
    function goBack() {
      window.history.back();
    }
  </script>
</body>
</html>
